div
  .login
    .formDiv.w-full.max-w-xs.ml-auto.mr-auto.pt-20
      form.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4
        .formField.mb-4
          label.block.text-gray-700.text-sm.font-bold.mb-2(
            for="username") Username
          input.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight(
            id="username" 
            type="text" 
            placeholder="Username")
        .formField.mb-6
          label.block.text-gray-700.text-sm.font-bold.mb-2(
            for="password") Password
        input.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.mb-3.leading-tight(
          id="password" 
          type="password" 
          placeholder="******************")
        .actions.flex.items-center.justify-between
          button.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(
            type="button"
            @click="$router.push({ name: 'Services' })"
            ) Sign In
          a.inline-block.align-baseline.font-bold.text-sm.text-blue-500(
            @click="$router.push({ name: 'User' })"
            ) Forgot Password?